<p-panel header="Numeric Pipes" class="p-1">
  <h1>Uncommon Pipes</h1>
  <p>Pipes included in Angular - usually in Common Modules</p>
</p-panel>
<div class="grid ">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect Pipe" toggleable="true">
      <p>Greetings from {{gender | i18nSelect: invitationMap}} {{name}}, it is a pleasure
        to invite you to check my projects.</p>
      <p-button
        (click)="changePerson()"
        label="change Person"
        >      </p-button>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural Pipe" toggleable="true">
      <p>At this moment, {{clients.length | i18nPlural: countMap}}</p>
      <p-button
      (click)="deleteClient()"
      label="delete last client">

      </p-button>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" toggleable="true">
      <b>Original</b>
      <pre>{{clients}}</pre>
      <b>Slice 0:2</b>
      <pre>{{clients | slice:0:2}}</pre>
      <b>Slice 2:3</b>
      <pre>{{clients | slice:2:3}}</pre>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Json Pipe" toggleable="true">
      <b>withouot json pipe:</b>
      <p>{{person}}</p>
      <b>with json pipe:</b>
      <p> {{person | json}}</p>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue Pipe" toggleable="true">
      <ul>
        <li *ngFor="let item of person | keyvalue">
          <b>{{item.key | titlecase}}:</b>  {{item.value}}
        </li>
      </ul>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" toggleable="true">
      <pre *ngIf="!(myObservableTimer | async) "> Resolving observable </pre>
      <pre> {{myObservableTimer | async }} </pre>

      <pre *ngIf="!(promiseValue | async) "> Resolving promise </pre>
      <pre> {{promiseValue | async }} </pre>
    </p-fieldset>
  </div>
</div>
