<p-panel [showHeader]="false" class="pt-2">
  <h1>Custom Pipes</h1>
    <p>
      customized Pipes - created by {{ 'orlandosyv' | toggleCase: isUpperCase }} team
    </p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button label="ToggleCase" icon="pi pi-search"
      class="mr-2" (onClick)="toggleUpperCase()" />
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      class="mr-2" (onClick)="changeOrder('name')" label="By Name"
      icon="pi pi-sort" styleClass="p-button-success">
    </p-button>
    <p-button
      class="mr-2" (onClick)="changeOrder('canFly')" label="By Fly"
      icon="pi pi-sort" styleClass="p-button-danger">
    </p-button>

    <p-button
      class="mr-2" (onClick)="changeOrder('color')" label="By Color"
      icon="pi pi-sort" styleClass="p-button-help">
    </p-button>
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel>
      <p-table [value]="heroes | sortBy:orderBy " [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>canFly</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
          <tr>
            <td>{{ hero.name }}</td>
            <td>{{ hero.canFly | canFly | titlecase }}</td>
            <td>{{ hero.color }}</td>

          </tr>
        </ng-template>
      </p-table>

    </p-panel>
      </div>
</div>
