<p-panel [showHeader]="false" class="pt-2">
  <h1>Basic Pipes</h1>
  <p>Pipes included in Angular - usually in Common Modules</p>
</p-panel>
<div class="grid ">
  <div class="col-4">
    <p-card header="uppercase">
      {{nameLowerCase | uppercase}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="lowercase">
      {{nameUpperCase | lowercase}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="titlecase">
      {{fullname | titlecase}}
    </p-card>
  </div>
</div>
