/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    background-color:#0000001b;
    text-align: center;
    padding: 10px;
    width: 100%;
}
